$rem:75;

//宽度rem换算
@function getRem($var){

	@return  $var/$rem*1rem;
}
.core{
	background: #eee;
	.layout{
		width:getRem(573);
		margin:0 auto;
		padding: getRem(37) 0;
		height:getRem(224-37*2);
	}
	.par{
		p{
			float: left;
		}
		width: 100%;
		height: 100%;
		background: #fff;
		border-radius: getRem(18);
		.name{
			font-size: getRem(22);
			color: #fe5164;
			width: getRem(55);
			padding: getRem(20) 0;
			text-align:center;
			letter-spacing: getRem(4);
		}
		.money{
			width: getRem(140);
			background: #fe5164;
			line-height:getRem(71*2);
			font-size: getRem(26);
			color: #ffffff;
			text-align:center;
			strong{
				font-size:getRem(50);
			} 
		}
		.specificLink{
			float: right;
			padding:getRem(32) 0 0 getRem(60);
			width: getRem(318);
			height: getRem(97);
			.introduce{
				font-size: getRem(28);
				color: #333333;
				line-height: getRem(36);
			}
			.condition{
				font-size: getRem(22);
				color: #666666;
				line-height: getRem(30);
			}
			.effectiveTime{
				font-size: getRem(22);
				color: #c6c6c6;
				line-height: getRem(30);
			}
		}
	}
}
