<header class="header">
	<a href="###">
		<span></span>
	</a>
	<h2>注册</h2>
</header>
<div class="wrapper">
	<div class="row">
		<input type="text" placeholder="输入手机号" />
	</div>
	<div class="row code">
		<input type="text" placeholder="输入验证码" />
		<span>获取验证码</span>
	</div>
	<div class="row">
		<input type="password" placeholder="请输入密码" />
	</div>
	<div class="row">
		<input type="password" placeholder="再输入密码" />
	</div>
	<div class="row submit">
		<button>
			立即注册
		</button>
	</div>
	<p class="clear">
			<label>已有账号?</label>
			<a routerLink="/login">
				<span>立即登录</span>
			</a>
	</p>
</div>
<footer>
	<div class="third_party">
		
	</div>
	<div class="third_login clear">
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
	</div>
</footer>