<header class="index clear">
	<div class="city">
		<label>北京</label>
		<span id="SJX_DOWN"></span>
	</div>
	<div class="search">
		<div>
			<span class="search_ico"></span>
		</div>
	</div>
	<div class="customer">
		<span class="customer_ico">	
		</span>
	</div>
</header>
 <!-- myMove 移动指令 -->
<div class="bar">
	<ul class="view"  >
			<li>
				<img src="../../../assets/img/market/index/bar_1.png" alt="">
			</li>
			<li>
				<img src="../../../assets/img/market/index/bar_2.png" alt="">
			</li>
		
			<li>
				<img src="../../../assets/img/market/index/bar_3.png" alt="">
			</li>
	</ul>
	<ul class="controller">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="navWrapper">
	<ul class="clear">
		<li [routerLink]="['groupPurchase/hotSell']">
			<label>团购</label>
		</li>
		<li [routerLink]="['seckill']" >
			<label>秒杀</label>
		</li>
		<li [routerLink]="['importFruit']" >
			<label >进口</label>
		</li>
		<li [routerLink]="['invitation']">
			<label>邀请</label>
		</li>
	</ul>
</div>
<div class="componentParent">
	<!-- 秒杀活动组件-->
	<spike-activity></spike-activity>
	<!-- 今日上新组件 -->
	<new-today></new-today>
	<!-- 今日上新组件 -->
	<new-today></new-today>
</div>
