<div class="personHeader">
	<div class="headPortrait">
		<img src="../../../assets/img/market/index/Personal/head_one.jpg" alt="">
	</div>
	<div class="link clear">
		<label>追逐繁星的孩子</label>
		<span></span>
	</div>
</div>
<ul class="myInformation clear">
	<li (click)="gotoPage('myBalance')">
		<p class="View">
			<strong>163.86</strong>
			元
		</p>
		<p class="Title">
			我的余额
		</p>
	</li>
	<li (click)="gotoPage('myCoupon')">
		<p class="View">
			<strong>1</strong>
			张
		</p>
		<p class="Title">
			我的优惠券
		</p>
	</li>
	<li>
		<p class="View">
			<strong>160</strong>
			分
		</p>
		<p class="Title">
			我的积分
		</p>
	</li>
</ul>
<div class='myOrder'>
	<div class="orderHead clear">
			<h2>我的订单</h2>
			<a href="###">查看全部</a>
	</div>
	<ul class="navOrder clear">
		<li>
			待付款
		</li>
		<li>
			待发货
		</li>
		<li>
			待收货
		</li>
		<li>
			待评价
		</li>
	</ul>
</div>
<div class="jumpOptions">
	<a (click)="gotoPage('deliveryAddress')" class="layout brBottom clear">
		<p>
			收货地址管理
		</p>
		<span>
			
		</span>
	</a>
	<a (click)="gotoPage('myCollection')" class="layout clear">
		<p>
			我的收藏
		</p>
		<span>
			
		</span>
	</a>
	<span class="division"> 	
	</span>
	<a href="" class="layout brBottom clear">
		<p>
			礼品卡
		</p>
		<span>
			
		</span>
	</a>
	<a href="" class="layout brBottom clear">
		<p>
			兑换券
		</p>
		<span>
			
		</span>
	</a>
	<a href="" class="layout clear">
		<p>
			设置
		</p>
		<span>
			
		</span>
	</a>
	<span class="divisionTwo"> 	
	</span>
</div>